<h1>Topics</h1>
<div>Sort by
  <%= link_to 'Default', topics_path(topics_filter(:order => "")) %> |
  <%= link_to 'Newest Post', topics_path(topics_filter(:order => 'newest_post')) %> |
  <%= link_to 'Most Replies', topics_path(topics_filter(:order => 'most_replies')) %> |
</div>
<div>Filter by
  <%= link_to 'All', topics_path %> |
  <% Category.all.each do |category| %>
    <%= link_to category.name, topics_path(topics_filter(:category => category.id)) %> |
  <% end %>
</div>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Posted At</th>
    <th>Replies</th>
    <th>Last Replied At</th>
    <th>Views</th>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td>
        <%= link_to topic.title, topic %>
        <%= link_to topic.category.name, topics_path(category: topic.category.id), :class => "label label-default" %>
        <% topic.tags.each do |tag| %>
          <%= link_to tag.name, topics_path(topics_filter(tag: tag.name)), :class => "label label-info" %>
        <% end %>
      </td>
      <td><%= topic.user.try(:fullname) %></td>
      <td><%= topic.created_at.to_s(:short) %></td>
      <td><%= topic.comments.size %></td>
      <td><%= (topic.comments.size > 0 ) ? topic.comments.last.created_at.to_s(:short) : '' %></td>
      <td><%= topic.views_count %></td>
    </tr>
  <% end %>
</table>
<%= paginate @topics %><br>
<%= link_to 'New Topic', new_topic_path, :class => 'btn btn-primary'%>